<!DOCTYPE html>
<html lang="en">
  <style>
  .h-bar {
    min-height:15px;
    min-width: 10px;
    width:0px;
    height:0px;
    background-color: steelblue;
    margin-bottom: 2px;
    font-size: 11px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
  }

  .control-group {
    padding-top: 10px;
    margin: 10px;
  }

  .selected {
    background-color: #f08080;
  }

  </style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Input Output</title>
    <meta name="author" content="me">

    <!-- my custom style -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- d3 -->
    <script src="https://d3js.org/d3.v3.min.js"></script>

  </head>
  <body>

    <div class="row" style="background-color:#25435B;padding:10px;text-align:center;">
        <div class="col-md-2 text-left">
            <img src="static/images/website/github-256.png" style="width:75px;" alt="logo">
        </div>
        <div class="col-md-8 title">
            <h1>Client-Server talking with Flask</h1>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>

    <div id="vis-container">
        <div class="control-group">
          <button onclick="select('google')">
              Google Fonts
          </button>
          <button onclick="select('other')">
              Personalized Fonts
          </button>
          <button onclick="select()">
              Clear
          </button>
        </div>
      <h3>Select your favourite font</h3>
      <svg width='960' height="800">
      <g id='fontList'>
        <!--trial.js code here -->
      </g></svg>
      <svg width="960" height="800">
        <g id='fontTop10'>
        </g></svg>

    </div>
    <!-- Here we load the javascript code -->
    <script src="static/js/trial.js"></script>
  </body>
</html>
